.about-us-2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .about-us-2 .container .info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .about-us-2 .container .info p {
    line-height: 1.5;
    color: #777;
    margin-top: 30px;
  }
  
  .about-us-2 .container .info .lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
    margin-top: 35px;
  }
  
  .about-us-2 .container .info .lists li {
    padding-left: 30px;
    position: relative;
  }
  
  .about-us-2 .container .info .lists li:not(:last-child) {
    margin-bottom: 15px;
  }
  
  .about-us-2 .container .info .lists li::before {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid var(--main-color-theme);
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
  }
  
  .about-us-2 .container .info .lists li::after {
    content: '';
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--main-color-theme);
    left: 6px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
  }
  
.about-us-2 .container .image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    height: 100%;
}

.about-us-2 .container .image img{
    height: 735px;
    width: 392px;
}
  
  @media (max-width: 830px) {
    .about-us-2 {
      padding-top: 30px;
    }
    .about-us-2 .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .about-us-2 .container .info .lists {
      gap: 20px;
    }
  }
  