
.reservation {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url("../../assets/appoinment.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
  }
  
  .reservation .head {
    margin-bottom: 50px;
  }
  
  .reservation .head .title,
  .reservation .head h2 {
    color: white;
    font-weight: normal;
  }
  
  .reservation .con {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 10px;
  }
  