
.ticket {
    text-align: left;
    width: 540px;
    max-height: 123px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid #ddd;
    padding: 10px;
    -webkit-transition: .3s;
    transition: .3s;
}
 
  
.ticket img {
    height: 100px;
}

.ticket .info {
    padding: 10px 20px;
}
  
.ticket .info h3 {
    margin: 0 0 10px;
    font-weight: normal;
    color: #191b1d;
    -webkit-transition: .3s;
    transition: .3s;
}
  
.ticket .info p {
    line-height: 1.7;
    font-size: 13px;
    color: #666;
    -webkit-transition: .3s;
    transition: .3s;
    margin: 0;
}
  
.ticket span {
    font-size: 36px;
    margin-right: 20px;
    color: #777;
    -webkit-transition: .3s;
    transition: .3s;
}
  
.ticket:hover {
    background-color: var(--main-color-theme);
    border-color: var(--main-color-theme);
}
  
.ticket:hover h3,
.ticket:hover p,
.ticket:hover span {
    color: white;
}
  
  @media (max-width: 630px) {
    .ticket {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-height: unset;
        text-align: center;
        margin: auto;
        width: 90%;
    }
    .ticket img {
        width: 100%;
        height: unset;
    }
  }