.para {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f9f9f9;
}

.para .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
}

.para .container .image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.para .container .image img {
    width: 100%;
}

.para .container .info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.para .container .info img {
    width: 80px;
}

.para .container .info h2 {
    text-transform: capitalize;
    font-size: 30px;
    color: #111;
    margin: 0;
    margin-bottom: 25px;
}

.para .container .info p {
    line-height: 1.5;
    color: #777;
    margin: 0;
    margin-bottom: 25px;
}

.para .container .info .link {
    margin-top: 0;
  }
  
@media (max-width: 1034px) {
    .para .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        text-align: center;
    }
}
  