
.welcome {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
  }
  
  .welcome p {
    margin-top: 50px;
    background-color: #f9f9f9;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    padding: 25px;
    color: #555;
    line-height: 1.5;
  }
  
  .welcome h2 {
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  
  .welcome a {
    color: var(--main-color-theme);
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid var(--main-color-theme);
    border-radius: 5px;
    -webkit-transition: .3s;
    transition: .3s;
    display: inline-block;
  }
  
  .welcome a:hover {
    color: white;
    background-color: var(--main-color-theme);
  }