.rest {
    min-height: 300px;
    background-image: url("../../assets/hero3.jpg");
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
    position: relative;
    padding: 100px 20px;
    z-index: 1;
    text-align: center;
}
  
.rest::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
.rest .box{
    z-index: 5;
    position: relative;
}
  
.rest img {
    height: 66px;
    width: 193px;
}
  
.rest h1 {
    font-family: 'Great Vibes';
    font-size: 60px;
    text-transform: capitalize;
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
}
  
.rest p {
    color: white;
    max-width: 1000px;
    margin: auto;
    line-height: 1.7;
    margin-bottom: 30px;
}