/* Start Global rules */
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Color Theme Swatches */
  --main-color-theme: #d32931;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



.head {
  text-align: center;
}

.head img {
  width: 80px;
}

.head h1.title {
  margin: 10px 0 0;
  font-weight: 400;
}

.head h2 {
  text-transform: uppercase;
  font-size: 34px;
  color: #111;
  font-weight: 600;
  margin: 0;
}

.head.left {
  text-align: left;
}

.head.left h2 {
  margin: 10px 0 20px;
}


.gr {
  background-color: #f9f9f9;
}

